{% extends "main.html" %}
{% block tabs %}
{{ super() }}
<style>
  .md-main {
    content-visibility: hidden;
  }

</style>
<main>
  <!-- Hero Section -->
  <section class="hero">
    <div class="container">
      <h1 class="hero-title">Documentação do CRM-ProInjeção</h1>
      <p class="hero-paragraph">
        O CRM-ProInjeção é um sistema de gerenciamento de clientes e automação de orçamentos para oficinas mecânicas,
        desenvolvido para otimizar a eficiência e os processos operacionais.
      </p>
      <a class="button-primary" href="/2024.2-T01-CRMProInjecao/cenario-atual/">Ver o projeto</a>
    </div>
  </section>

  <!-- Team Section -->
  <section class="team-section">
    <div class="container">
      <div class="team-header">
        <h2>Equipe</h2>
        <p>Conheça os membros do time responsável pelo CRM-ProInjeção.</p>
      </div>
      <div class="team-container">
        <div class="team-member">
          <img src="https://avatars.githubusercontent.com/u/62809606?v=4" alt="Bruno Bragança dos Reis">
          <h4>Bruno Bragança</h4>
          <p>Matrícula: 221007902</p>
          <p>Desenvolvedor</p>
        </div>
        <div class="team-member">
          <img src="https://avatars.githubusercontent.com/u/131913211?v=4" alt="Paulo André Valadão">
          <h4>Paulo André Valadão</h4>
          <p>Matrícula: 221031229</p>
          <p>Desenvolvedor</p>
        </div>
        <div class="team-member">
          <img src="https://avatars.githubusercontent.com/u/111324066?v=4" alt="Fábio Alessandro Torres">
          <h4>Fábio Alessandro</h4>
          <p>Matrícula: 200037170</p>
          <p>Desenvolvedor</p>
        </div>
        <div class="team-member">
          <img src="https://avatars.githubusercontent.com/u/98167728?v=4" alt="Pedro Henrique Braga">
          <h4>Pedro Henrique Braga</h4>
          <p>Matrícula: 211062384</p>
          <p>Desenvolvedor</p>
        </div>
        <div class="team-member">
          <img src="https://avatars.githubusercontent.com/u/64455111?v=4" alt="Vinicius Angelo">
          <h4>Vinicius Angelo</h4>
          <p>Matrícula: 190118059</p>
          <p>Desenvolvedor</p>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}