<!DOCTYPE html>
<html dir="ltr" lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{title}}</title>
  <style type="text/css">
    body {
      font-family: 'Helvetica', 'Arial', sans-serif;
      margin: 0;
      padding: 0;
      width: 100%;
      background-color: #FAFAFA;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }

    table {
      border-spacing: 0;
      width: 100%;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .container {
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      background-color: #FFFFFF;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      overflow: hidden;
    }

    .header {
      background: rgba(76, 175, 80, 0.8);
      padding: 20px;
      text-align: center;
    }

    .header img {
      height: 80px;
      border-radius: 50%;
      background-color: #212B36;
      padding: 10px;
    }

    .content {
      padding: 20px;
      text-align: center;
    }

    .content h2 {
      color: #4CAF50;
      font-size: 24px;
      margin-bottom: 10px;
    }

    .content h4 {
      color: #666666;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    .contact {
      font-size: 14px;
      color: #666666;
      margin-top: 20px;
    }

    .contact a {
      color: #4CAF50;
      text-decoration: none;
    }

    .footer {
      background: rgba(76, 175, 80, 0.8);
      padding: 20px;
      text-align: center;
      color: #FFFFFF;
      font-size: 16px;
      font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
      .content {
        padding: 5px;
      }
    }
  </style>
</head>

<body>
  <table class="container" align="center">
    <tr>
      <td class="content">
        <h2>{{title}}</h2>
        <h4>{{message}}</h4>
      </td>
    </tr>
    <tr>
      <td class="footer">
        Equipe CRM PRO INJEÇÃO
      </td>
    </tr>
  </table>
</body>

</html>